body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

.button {
    background-color: orangered;
    font-weight: bold;
    font-size: large;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 100%;
}